/*  --------------- Global Styles -----------------  */
.content {
    flex: 1;
}

body {
    background-color: rgb(214, 224, 235);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 80%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header.primary {
    background-color: #035AA6;
    text-align: center;
    color: #ffffff;
    padding: 10px 40px 10px 40px;
    text-shadow: 1px 1px #000000;
}

    header.primary h1 {
        font-size: 2.4rem;
        margin: 20px 0 10px;
    }

        header.primary h1 a {
            color: white;
            text-decoration: none;
        }

    header.primary h2 {
        font-size: 1.4rem;
    }

    header.primary nav {
        text-align: left;
        padding: 20px 40px 20px 40px;
        font-size: 1.4rem;
    }

        header.primary nav:hover {
            text-decoration: none;
            cursor: pointer;
        }

        header.primary nav ul {
            padding: 0;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }

            header.primary nav ul li {
                list-style-type: none;
            }

                header.primary nav ul li a {
                    color: #ffffff;
                    text-decoration: none;
                    background: #000000;
                    background-color: black;
                    padding: 8px 16px;
                    border-radius: 20px 4px;
                    border: 1px solid black;
                    transition: 0.5s;
                }

                    header.primary nav ul li a:hover,
                    header.primary nav ul li a:active {
                        background: rgba(0, 0, 0, 0.8);
                    }

.container {
    margin: 40px auto;
    width: 70vw;
    max-width: 700px;
}

/*  --------------- Images -----------------  */

.img-right {
    float: right;
    border: 1px solid #c0c0c0;
    padding: 2px;
    margin: 10px 0 10px 20px;
}

.img-left {
    float: left;
    border: 1px solid #c0c0c0;
    padding: 2px;
    margin: 10px 20px 10px 0;
}

.img-center {
    display: block;
    border: 1px solid #c0c0c0;
    padding: 2px;
    margin: 20px auto;
}

img {
    max-width: 100%;
    margin-bottom: 100px;
}

.image-container {
    text-align: center;
}

    .image-container img {
        margin-top: 10%;
        display: inline-block;
    }

/*Forms and Input*/
form {
    display: flex;
    flex-direction: column; /* Arrange input elements in a column */
    align-items: center; /* Center vertically within the viewport */
}

button, .link {
    margin: 10px; /* Add margin to all elements to create spacing */
    text-align: center; /* Center the text within input, label, and button */
}

input {
    margin: 10px;
}

.input-container {
    display: flex;
    align-items: center; /* Align items vertically in the middle */
}

    .input-container label {
        flex: 1; /* Allow labels to expand to fill the available space */
        text-align: right; /* Right-align the text of labels */
        margin-right: 10px; /* Add margin to create spacing between labels and input boxes */
    }

    .input-container input {
        flex: 2; /* Allow input boxes to expand to fill the available space */
    }

/*  ---------------Box Sizing-----------------  */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}
/*  --------------- Tables ------------------------  */
table {
    width: 100%;
    border: 1px solid #c0c0c0;
    border-collapse: collapse;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.4);
    margin: 20px 0;
}

    table caption {
        font-weight: bold;
        margin: 10px;
    }

footer {
    position: sticky;
    bottom: 0;
    background-color: #333;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
}

    footer#colophon {
        background-color: rgb(3333ff);
        text-align: center;
        padding: 10px;
        margin-top: auto; /* This will push the footer to the bottom */
    }

#colophon {
    background-color: #3b638b;
}

    #colophon h6 {
        padding: 10px;
        margin: 0;
        text-align: center;
        color: #ffffff;
        font-size: 0.9rem;
    }
